.popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
}
.popup_opened {
    display: flex;
    opacity: 1;
    justify-content: center;
    align-items: center;
    visibility: visible;
    transition: 0.5s ease;
}
.popup__container {
    max-width: 430px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 34px 36px 33px 36px;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 566px) {
    .popup__container {
        max-width: 280px;
        padding: 25px 22px 25px 22px;
    }
}
.popup__close-btn {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: none;
    background-image: url('../images/popup/CloseIcon.svg');
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    transition: .5s ease;
    position: absolute;
    top: -45px;
    right: -44px;
    background-size: cover;
}

.popup__close-btn:hover {
    opacity: 0.6;
}

@media screen and (max-width: 566px) {
    .popup__close-btn {
        width: 20px;
        height: 20px;
        top: -37px;
        right: -1px;
    }
}