/* Стилизация тегов на странице редактирования тегов */
div.tags-container div.tag{
    display: inline-block;
    background: #020202;
    color: #f1f1f1;
    padding: 1px 6px;
    border-radius: 4px;
    margin: 5px 4px;
}

div.tags-container div.tag button{
    border: none;
    background: inherit;
    color: #ffffff;
    padding-left: 11px;
    border-left: 1px solid #c1c1c1;
}

div.tags-container div.tag span{
    display: inline-block;
    padding-right: 10px;
}

@media screen and (max-width: 600px) {
    .accordion-button {
        flex-direction: column;
    }
    .accordion-item__text{
        padding: 0 0 10px 0;
    }
}